<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/lightslider.css')}}"> -->

    <title>Team Work</title>
</head>

<body>
    <div class="main"></div>
    <div class="container">
        <header class="head my-3">
            <nav class="navbar navbar-expand-lg navbar-light head__custom-nav">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="{{url_for('static', filename='images/logo.png')}}" alt="website logo">
                    <span>TeamoTech</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span><img src="{{url_for('static', filename='images/menu.png')}}" alt=""></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h3 style="font-size: 100px;">Team</h3>
                <h3 style="font-size: 100px;">Work</h3>
                <p>A great platform to work in a team!!</p>
                <a href="#">Learn more</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="{{url_for('static', filename='images/Team spirit-amico.png')}}" alt="Team process banner">
            </div>
        </div>
        <div class="sidebar"></div>
        <div class="topbar"></div>
    </div>

    {% if choice %}
        <div style="position: relative; top: 20rem">
            <div class="container">
                <h1><center>Your Teams</center></h1>
                <div class="row">
                    {% for i in range(team_number) %}
                    <div class="col-md-3">
                        <div class="box box-img02">
                            <div class="slide-details">
                                <p>{{ team_name_ls[i] }}</p>
                                <p>Project Name</p>
                            </div>
                            <div class="user user-img01"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <form action="{{url_for('lobby')}}" method="POST">
        <section class="main2">
            <div class="container">
                <div class="teamCreation1"></div>
                <div class="teamCreation2"></div>
                <div class="teamCreation3"></div>
                <div class="teamCreation4"></div>
                <h1 style="position: absolute; top: 10%; left: 40%;">Create Team</h1>
                <div class="row" id="add_to_me">
                    <div class="col-md-3">
                        <div class="box box-img01">
                            <div class="slide-details">
                                <p>Team Leader</p>
                                <input type="text" name="email" value="{{email}}" style="display: none;">
                                <input name="TeamLead_username" type="text" value="{{username}}" placeholder="User Name" required='required'>
                                <input name="TeamLead_profession" type="text" placeholder="Profession" required='required'>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="remove_this">
                        <input class="minecard" type="button" id="more_fields" onclick="add_fields();" value="Add More" />
                    </div>
                </div>
                <div class="row mt-4 pt-4 mb-3 pb-3 text-right">
                    <div class="col-lg-12">
                        <input name="team_name" class="myinput" type="text" placeholder="TeamName" required='required'>
                        <input class="inputbutton" type="submit" value="CreateLobby">
                    </div>
                </div>
            </div>
        </section>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="{{'static/js/JQuery3.3.1.js'}}" type="text/javascript"></script>
    <script src="{{'static/js/lightslider.js'}}" type="text/javascript"></script>
    <script src="{{'static/js/script.js'}}" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script>
        function add_fields() {
            var remover = document.getElementById("remove_this");
            remover.parentNode.removeChild(remover);

            var d = document.getElementById("add_to_me");

            d.innerHTML += "<div class='col-md-3'> <div div class='box box-img06' > <div class='slide-details'> <p>Team Member</p> <input name='username' type='text' placeholder='User Name' required='required'> <input name='email' type='text' placeholder='email' required='required'> <input name='profession' type='text' placeholder='Profession' required='required'> </div> </div> </div><div class='col-sm-2' id='remove_this'> <input class='minecard' type = 'button' id = 'more_fields' onclick = 'add_fields();' value = 'Add More' /> </div >";
        }
    </script>
</body>

</html>