<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lobby</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css"
        integrity="sha512-x96qcyADhiw/CZY7QLOo7dB8i/REOEHZDhNfoDuJlyQ+yZzhdy91eAa4EkO7g3egt8obvLeJPoUKEKu5C5JYjA=="
        crossorigin="anonymous" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/lobby.css')}}">
</head>
<body>

    <!-- ---------------------- 
        Navbar started ----------->
    <nav>
        <div class="nav-wrapper white lighten-2">
            <a href="#" class="brand-logo purple-text text-darken-2">TEAMoTECH</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down bg-gradient-primary">
                <li><a href="sass.html">About us</a></li>
                <li><a href="badges.html">Contribute</a></li>
                <li><a href="collapsible.html">Undone</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <!-- --------------------- -->

    <div class="container mt-4">
        <div class="row">
            <div class="col s12 m12 l12 stretch-card grid-margin">
                <div class="card horizontal text-gray card-outline-success">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">{{team_name}} <i class="mdi mdi-account-check mdi-24px float-right"></i></h4>
                        
                        <h4 class="mb-3 ml-4 pl-4" style="font-family: 'Courier New', Courier, monospace;">> {{email}}, profession</h4>

                        <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 90%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="90"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Layout here -->
    <div class="row">
    
        <div class="col s12 m4 l3">
            <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel
    
                    This content will be:
                3-columns-wide on large screens,
                4-columns-wide on medium screens,
                12-columns-wide on small screens  -->
            <div class="row">
                <div class="col s12 m12 stretch-card grid-margin">
                    <div class="card large card-outline-primary">
                        <div class="card-content text-gray">
                            <span class="card-title">Assign Task</span>
                            <p><i class="mdi mdi-blur"></i> Assign task to any team member</p>
                            <p><i class="mdi mdi-blur"></i> Set deadlines for each task</p>
                            <input class="mt-4 mb-4" name="task_description" id="description" placeholder="Task Description" required='required'>
                            <input class="mb-4" type="text" name="assign_to" placeholder="Assign to..." required='required'>

                            <p class="mt-4">
                                <label>
                                    <input id="checker" type="checkbox" />
                                    <span>Add Deadline</span>
                                </label>
                            </p>
                            <input class="mb-4" type="date" id="name2" name="name2" disabled=''/>
                            <input class="input-button bg-gradient-primary mt-4 float-right" type="button" value="Assign">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; font-weight: 600; font-size: x-large;">REPORT</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Progress </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> Herman Beck </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%"
                                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Messsy Adam </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%"
                                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> John Richards </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%"
                                                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Peter Meggik </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Edward </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%"
                                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Ronald </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%"
                                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col s12 m8 l9">
            <!-- Note that "m8 l9" was added -->
            <!-- Teal page content
    
                    This content will be:
                9-columns-wide on large screens,
                8-columns-wide on medium screens,
                12-columns-wide on small screens  -->
            <div class="row">
                <div class="col s12 m4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{url_for('static', filename='images/circle.png')}}" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">Today's Task <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                            </h4>
                            <h4 class="mb-4">number</h4>
                            <h6 class="card-text">Increased by 60%</h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{url_for('static', filename='images/circle.png')}}" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">Today's Performance <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                            </h4>
                            <h4 class="mb-4">ratio</h4>
                            <h6 class="card-text">Decreased by 10%</h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <img src="{{url_for('static', filename='images/circle.png')}}" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">Total Task<i class="mdi mdi-diamond mdi-24px float-right"></i>
                            </h4>
                            <h4 class="mb-4">number</h4>
                            <h6 class="card-text">Pending Task number</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 stretch-card">
                    <div class="card medium">
                        <div class="card-body">
                            <div class="clearfix">
                                <h4 class="card-title float-left">Weekly Statistics</h4>
                                <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right mb-3">
                                </div>
                            </div>
                            <canvas id="visit-sale-chart" class="mt-4 pb-1"></canvas>
                        </div>
                    </div>
                    <!-- <div class="card medium blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div> -->
                </div>
                <div class="col s12 m5 stretch-card">
                    <div class="card medium">
                        <div class="card-body">
                            <div class="clearfix">
                                <h4 class="card-title float-left">Performers Contributions</h4>
                            </div>
                            <canvas id="traffic-chart" class="mt-4"></canvas>
                            <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <h4 class="card-title float-left">Members Statistics</h4>
                                <div id="visit-sale-line-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right">
                                </div>
                            </div>
                            <canvas id="visit-sale-line-chart" class="mt-4"></canvas>
                        </div>
                    </div>
                    <!-- <div class="card large white lighten-1">
                        <div class="card-content black-text">
                            <span class="card-title">Card Title</span>
                            <div class="chart-container" style="position: relative; height:70vh; width:70vw">
                                <canvas class="mt-4 mb-4 pb-4" id="myChart"></canvas>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>

            document.getElementById('checker').onchange = function () {
                if (this.checked == true) {
                    document.getElementById("name2").disabled = false;
                    document.getElementById("name2").focus();
                }
                else {
                    document.getElementById("name2").disabled = true;
                }
            };

    </script>

    <script>
        var ctx = document.getElementById('visit-sale-chart').getContext('2d');
        Chart.defaults.global.legend.labels.usePointStyle = true;

        var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
        gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
        gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
        var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

        var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 360);
        gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
        gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
        var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

        var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 300);
        gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
        gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
        var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['WEEK 1', 'WEEK 2', 'WEEK 3', 'WEEK 4', 'WEEK 5'],
                datasets: [
                    {
                        label: "TOTAL TSK",
                        borderColor: gradientStrokeViolet,
                        backgroundColor: gradientStrokeViolet,
                        hoverBackgroundColor: gradientStrokeViolet,
                        legendColor: gradientLegendViolet,
                        pointRadius: 0,
                        fill: false,
                        borderWidth: 1,
                        fill: 'origin',
                        data: [20, 40, 15, 35, 25]
                    },
                    {
                        label: "COMPLETED",
                        borderColor: gradientStrokeRed,
                        backgroundColor: gradientStrokeRed,
                        hoverBackgroundColor: gradientStrokeRed,
                        legendColor: gradientLegendRed,
                        pointRadius: 0,
                        fill: false,
                        borderWidth: 1,
                        fill: 'origin',
                        data: [40, 30, 20, 10, 50]
                    },
                    {
                        label: "PERFORMANCE",
                        borderColor: gradientStrokeBlue,
                        backgroundColor: gradientStrokeBlue,
                        hoverBackgroundColor: gradientStrokeBlue,
                        legendColor: gradientLegendBlue,
                        pointRadius: 0,
                        fill: false,
                        borderWidth: 1,
                        fill: 'origin',
                        data: [70, 10, 30, 40, 25]
                    }
                ]
            },
            options: {
                responsive: true,
                legend: false,
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul>');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li><span class="legend-dots" style="background:' +
                            chart.data.datasets[i].legendColor +
                            '"></span>');
                        if (chart.data.datasets[i].label) {
                            text.push(chart.data.datasets[i].label);
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join('');
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false,
                            min: 0,
                            stepSize: 20,
                            max: 80
                        },
                        gridLines: {
                            drawBorder: false,
                            color: 'rgba(235,237,242,1)',
                            zeroLineColor: 'rgba(235,237,242,1)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            color: 'rgba(0,0,0,1)',
                            zeroLineColor: 'rgba(235,237,242,1)'
                        },
                        ticks: {
                            padding: 20,
                            fontColor: "#9c9fa6",
                            autoSkip: true,
                        },
                        categoryPercentage: 0.5,
                        barPercentage: 0.5
                    }]
                }
            },
            elements: {
                point: {
                    radius: 0
                }
            }
        })
        $("#visit-sale-chart-legend").html(myChart.generateLegend());
    </script>

    <script>
        var ctx = document.getElementById('traffic-chart').getContext('2d');
        var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 181);
        gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
        gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
        var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

        var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 50);
        gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
        gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
        var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

        var gradientStrokeGreen = ctx.createLinearGradient(0, 0, 0, 300);
        gradientStrokeGreen.addColorStop(0, 'rgba(6, 185, 157, 1)');
        gradientStrokeGreen.addColorStop(1, 'rgba(132, 217, 210, 1)');
        var gradientLegendGreen = 'linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))';

        var trafficChartData = {
            datasets: [{
                data: [30, 30, 40],
                backgroundColor: [
                    gradientStrokeBlue,
                    gradientStrokeGreen,
                    gradientStrokeRed
                ],
                hoverBackgroundColor: [
                    gradientStrokeBlue,
                    gradientStrokeGreen,
                    gradientStrokeRed
                ],
                borderColor: [
                    gradientStrokeBlue,
                    gradientStrokeGreen,
                    gradientStrokeRed
                ],
                legendColor: [
                    gradientLegendBlue,
                    gradientLegendGreen,
                    gradientLegendRed
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Search Engines',
                'Direct Click',
                'Bookmarks Click',
            ]
        };
        var trafficChartOptions = {
            responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            },
            legend: false,
            legendCallback: function (chart) {
                var text = [];
                text.push('<ul>');
                for (var i = 0; i < trafficChartData.datasets[0].data.length; i++) {
                    text.push('<li><span class="legend-dots" style="background:' +
                        trafficChartData.datasets[0].legendColor[i] +
                        '"></span>');
                    if (trafficChartData.labels[i]) {
                        text.push(trafficChartData.labels[i]);
                    }
                    text.push('<span class="float-right">' + trafficChartData.datasets[0].data[i] + "%" + '</span>')
                    text.push('</li>');
                }
                text.push('</ul>');
                return text.join('');
            }
        };
        var trafficChartCanvas = $("#traffic-chart").get(0).getContext("2d");
        var trafficChart = new Chart(trafficChartCanvas, {
            type: 'doughnut',
            data: trafficChartData,
            options: trafficChartOptions
        });
        $("#traffic-chart-legend").html(trafficChart.generateLegend());
    </script>

    <script>
        var ctx = document.getElementById('visit-sale-line-chart').getContext('2d');
        Chart.defaults.global.legend.labels.usePointStyle = true;

        var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
        gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
        gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
        var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

        var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 360);
        gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
        gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
        var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

        var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 300);
        gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
        gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
        var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG'],
                datasets: [
                    {
                        label: "CHN",
                        borderColor: gradientStrokeViolet,
                        backgroundColor: gradientStrokeViolet,
                        hoverBackgroundColor: gradientStrokeViolet,
                        legendColor: gradientLegendViolet,
                        pointRadius: 3,
                        borderWidth: 4,
                        fill: 'false',
                        data: [20, 40, 15, 35, 25, 50, 30, 20]
                    },
                    {
                        label: "USA",
                        borderColor: gradientStrokeRed,
                        backgroundColor: gradientStrokeRed,
                        hoverBackgroundColor: gradientStrokeRed,
                        legendColor: gradientLegendRed,
                        pointRadius: 3,
                        borderWidth: 4,
                        fill: 'false',
                        data: [40, 30, 20, 10, 50, 15, 35, 40]
                    },
                    {
                        label: "UK",
                        borderColor: gradientStrokeBlue,
                        backgroundColor: gradientStrokeBlue,
                        hoverBackgroundColor: gradientStrokeBlue,
                        legendColor: gradientLegendBlue,
                        pointRadius: 3,
                        borderWidth: 4,
                        fill: 'false',
                        data: [70, 10, 30, 40, 25, 50, 15, 30]
                    }
                ]
            },
            options: {
                responsive: true,
                legend: false,
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul>');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li><span class="legend-dots" style="background:' +
                            chart.data.datasets[i].legendColor +
                            '"></span>');
                        if (chart.data.datasets[i].label) {
                            text.push(chart.data.datasets[i].label);
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join('');
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: true,
                            min: 0,
                            stepSize: 20,
                            max: 80
                        },
                        gridLines: {
                            drawBorder: false,
                            color: 'rgba(235,237,242,1)',
                            zeroLineColor: 'rgba(235,237,242,1)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            color: 'rgba(0,0,0,1)',
                            zeroLineColor: 'rgba(235,237,242,1)'
                        },
                        ticks: {
                            padding: 20,
                            fontColor: "#9c9fa6",
                            autoSkip: true,
                        },
                        categoryPercentage: 0.5,
                        barPercentage: 0.5
                    }]
                }
            },
            elements: {
                point: {
                    radius: 0
                }
            }
        })
        $("#visit-sale-line-chart-legend").html(myChart.generateLegend());
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, options);
            });

            // Or with jQuery

            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
    </script>
</body>
</html>